@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}


@await Component.InvokeAsync("Slide")


@await Component.InvokeAsync("ProductCategory")

@await Component.InvokeAsync("ProductCategoryWithProduct")

@await Component.InvokeAsync("LatestArrivals")



<div class="banner-hover-area section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="banner-hover-wrapper">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="single-hover-banner">
                                <div class="single-hover-banner__image">
                                    <a href="shop-left-sidebar.html">
                                        <img src="/Theme/assets/img/banners/bg_1.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                    <div class="single-hover-banner__content">
                                       
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="single-hover-banner">
                                <div class="single-hover-banner__image">
                                    <a href="shop-left-sidebar.html">
                                        <img src="/Theme/assets/img/banners/bg_2.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                    <div class="single-hover-banner__content">
                                    
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="feature-logo-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="feature-logo-wrapper section-space--inner-bottom">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="single-feature-logo">
                                <div class="single-feature-logo__image">
                                    <img src="/Theme/assets/img/icons/free_shipping.png" class="img-fluid" alt="">
                                </div>
                                <div class="single-feature-logo__content">
                                    <h4 class="title">ارسال رایگان</h4>
                                    <p class="short-desc">
                                       تمامی سفارش های شما به صورت رایگان ارسال خواهند شد
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="single-feature-logo">
                                <div class="single-feature-logo__image">
                                    <img src="/Theme/assets/img/icons/money_back.png" class="img-fluid" alt="">
                                </div>
                                <div class="single-feature-logo__content">
                                    <h4 class="title">با خیال راحت خرید بکنید</h4>
                                    <p class="short-desc">
                                       ما سفارش های شما رو در سریع ترین زمان به دست شما ارسال می کنیم
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="single-feature-logo">
                                <div class="single-feature-logo__image">
                                    <img src="/Theme/assets/img/icons/support247.png" class="img-fluid" alt="">
                                </div>
                                <div class="single-feature-logo__content">
                                    <h4 class="title">پشتیبانی آنلاین 24 ساعته</h4>
                                    <p class="short-desc">
                                      تیم پشتیبانی ما برای کمک به شما 24 ساعته آماده است
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("LatestArticles")

