@model AccountManagement.Domain.Contacts.ContactUs
    <!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!-- jQuery library -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!-- Latest compiled JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
/*    .section-inner custom-page-content {
        direction: rtl;
    }*/
    .size{
        resize:none;
    }
    .container {
        background-color: white!important;
      border-radius:18px;
      margin-top:40px;
    }

</style>
<body dir="rtl" style="background-color:aqua">
    <section class="pt-page " data-id="contact">
        <div class="section-inner custom-page-content">

            <div class="page-content">
                <div class="container">
                    <div class="row bg-white rounded p-0 m-0">

                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="~/ContactUs/img/download (1).png" class="img-fluid margin" />
                        </div>

                        <div class="col-12 col-md-6 justify-content-center mx-auto">

                            <div class="block-title">
                                <h3><span>تماس</span> با من</h3>
                            </div>
                            <form method="post" asp-controller="Home" asp-action="ContactUs">

                                <div class="messages"></div>


                                <div class="controls">
                                    <div class="form-group form-group-with-icon">
                                        <i class="fa fa-user"></i>
                                        <label>نام کامل</label>
                                        <input id="form_name" type="text" class="form-control" asp-for="FullName" data-error="وارد کردن نام الزامی است.">
                                        <div class="form-control-border"></div>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group form-group-with-icon">
                                        <i class="fa fa-envelope"></i>
                                        <label>آدرس ایمیل</label>
                                        <input id="form_email" type="email" class="form-control" asp-for="Email" dir="ltr" data-error="وارد کردن ایمیل معتبر الزامی است.">
                                        <div class="form-control-border"></div>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group form-group-with-icon">
                                        <i class="fa fa-user"></i>
                                        <label>عنوان </label>
                                        <input id="form_name" type="text" class="form-control" asp-for="Subject">
                                        <div class="form-control-border"></div>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group form-group-with-icon">
                                        <i class="fa fa-comment"></i>
                                        <label>پیام  برای من ...</label>
                                        <textarea id="form_message" class="form-control  size" asp-for="Text" rows="4" data-error="لطفا پیام خود را وارد نمایید."></textarea>
                                        <div class="form-control-border"></div>
                                        <div class="help-block with-errors"></div>
                                    </div>-->
<!-- <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI"></div> -->
<!--<input type="submit" class="button btn-send btn btn-success rounded" value="ارسال پیام">

                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</body>-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ContactUs/style.css">
    <link rel="stylesheet" href="/ContactUs/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/ContactUs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ContactUs//font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<div class="container padding">
    <form method="post" asp-controller="Home" asp-action="ContactUs" class="form-group w-100   justify-content-center text-center  bg-white circle p-3 ">
        <div class=" form-group pb-3">
            <h1>تماس با ما</h1>
            <h5>پیشنهاد و انتقادات خود را از طریق فرم زیر ارسال نمایید</h5>
        </div>
        <div class="row   ">

            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">

                <img src="/ContactUs/img/download (1).png" class="img-fluid pb-3 " alt="">
            </div>
            <div class="col-12 col-lg-6 ">
                <div class=" input-group mb-3  ">

                    <input type="text" name="fullname" class=" form-control text-right  color" asp-for="FullName" placeholder="نام ونام خانوادگی">
                    <div class=" input-group-append ">
                        <span class=" input-group-text color"><i class="fa fa-id-card"></i></span>
                    </div>
                </div>
                <div class=" input-group mb-3 ">

                    <input type="email" name="email" class=" form-control text-right color" asp-for="Email" placeholder=" ایمیل">
                    <div class=" input-group-append ">
                        <span class=" input-group-text color"><i class="fa fa-envelope"></i></span>
                    </div>
                </div>
                <div class=" input-group mb-3 ">

                    <input type="text" name="subject" class=" form-control text-right color" asp-for="Subject" placeholder="عنوان ">
                    <div class=" input-group-append ">
                        <span class=" input-group-text color"><i class="fa fa-user-circle-o"></i></span>
                    </div>
                </div>
                <div class=" input-group mb-3 ">
                    <textarea name="text" id="" cols="30" rows="10" class="form-control text-right color" asp-for="Text" placeholder="متن"></textarea>


                </div>
                <div class="form-group   ">
                    <input type="submit" class="btn orange w-50 text-white circle" value="ثبت">
                </div>
            </div>
        </div>
    </form>
</div>
