@{

}
<div class="footer-area">
    <div class="footer-copyright">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright-wrapper footer-copyright-wrapper--default-footer">
                        <div class="container">
                            <div class="row align-items-center no-gutters text-center">
                                <div class="col-lg-2 col-md-2">
                                    <div class="footer-logo">
                                        <a href="#">
                                            <img src="/Theme/assets/img/REMAL.png" class="img-fluid" alt="فروشگاه برنج ری مال">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-md-5">

                                    <div class="copyright-text">

                                        تمامی حقوق مادی و معنوی این سایت متعلق به ابراهیم اخوان بازفتی هست
                                    </div>

                                </div>
                          
                                <div class="col-lg-5 col-md-5">
                                    <div class="copyright-social-wrapper border ">
                                        <h2>مجوز و نماد</h2>
                                        <img referrerpolicy='origin' id='rgvjesgtesgtesgtapfufukz' style='cursor:pointer;padding:10px; ' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=300056&p=xlaoobpdobpdobpddshwgvka", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='/logo.aspx.png' />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>