<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] - فروشگاه ری مال</title>
    }
    else
    {
        <title>فروشگاه ری مال</title>
    }

    @if (ViewData["metaDescription"] != null)
    {
        <meta name="description" content="@ViewData["metaDescription"]" />
    }
    else
    {
        <meta name="description" content=" سایت فروشگاهی برنج ری مال ارسال به سراسر کشور  + تحویل درب منزل" />
    }

    @if (ViewData["keywords"] != null)
    {
        <meta name="keywords" content="@ViewData["keywords"]" />
    }
    else
    {
        <meta name="keywords" content="فروشگاه ری مال , ری مال ,فروشگاه برنج ری مال,فروشگاه برنج ممتاز ری مال" />

    }

    <link rel="canonical" href="https://remal.ir/" />
    <meta name="robots" content="index" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="فروشگاه برنج ری مال " />
    <meta property="og:description" content="سایت فروشگاهی برنج ری مال ارسال به سراسر کشور  + تحویل درب منزل" />
    <meta property="og:url" content="https://remal.ir/" />
    <meta property="og:site_name" content="فروشگاه برنج ری مال" />
    <meta name="google-site-verification" content="iWO2tUOeJA1D6Hy4GO29FvN-A5raakZGL7st4XNrKXE" />

    <link rel="shortcut icon" type="image/x-icon" href="/Icon/icons8-shop-30.png">
    <!-- Vendor CSS -->
    <link href="/Theme/assets/css/vendors.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="/Theme/assets/css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Theme/assets/css/Custom.css" rel="stylesheet">
</head>

<body>
    @await Component.InvokeAsync("Menu")

    @RenderBody()

    @await Component.InvokeAsync("Footer")



    <div class="search-overlay" id="search-overlay">
        <a href="javascript:void(0)" class="close-search-overlay" id="close-search-overlay">
            <i class="ion-ios-close-empty"></i>
        </a>
        <div class="search-form">
            <form method="get" asp-page="/Search">
                <input type="search" name="value" id="value" placeholder="هر چه می خواهید در فروشگاه جستجو کنید ...">
                <button type="submit">
                    <i class="ion-android-search"></i>
                </button>
            </form>
        </div>


    </div>


    <!-- scroll to top  -->
    <div id="scroll-top">
        <span>برو بالا</span><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i>
    </div>
    <!-- end of scroll to top -->
    <!-- Vendor JS -->
    <script src="/Theme/assets/js/vendors.js"></script>

    <!-- Active JS -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Theme/assets/js/vendors.js"></script>
    <script src="/Theme/assets/js/active.js"></script>
    <script src="/Theme/assets/js/plugins.js"></script>
    <script src="/Theme/assets/js/custom.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            updateCart();
        });
    </script>

    @*<script src="~/Theme/assets/js/all.js"></script>
        <script src="~/Theme/assets/js/jquery-3.3.1.min.js"></script>
        <script src="~/Theme/assets/js/bootstrap.bundle.min.js"></script>*@

</body>

</html>