textarea{
    resize: none!important;
}
.orange{
    background-color: orange;
}
.circle{
    border-radius: 18px!important;
}
.color{
    background-color: rgba(255, 239, 185, 0.459)!important;
}
.padding{
 padding-top: 60px;
}
